<html>

<head>
    <meta charset="UTF-8">
    <title>Autenticação e Autorização</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <main>
        <section class="login-container">
            <h3>Sistema de Autenticação e Autorização</h3>
            <form onsubmit="fetchLogin(event)" autocomplete="off">
                <div>
                    <label for="username">Usuário</label>
                    <input type="text" id="usuario" name="usuario" required>
                    <label for="password">Senha</label>
                    <input type="password" id="senha" name="senha" required>
                </div>
                <input type="submit" value="Entrar">
                <div id="message">&nbsp;</div>
            </form>
        </section>
    </main>


    <script>
        const fetchLogin = async (event) => {
            console.clear()
            event.preventDefault()
            const usuario = document.getElementById('usuario')
            const senha = document.getElementById('senha')

            const fetchUsuario = await fetch(`http://localhost:5000/login`, {
                method: 'POST',
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ usuario: usuario.value, senha: senha.value })
            }).then(data => data.json())

            if (fetchUsuario.token) {
                sessionStorage.setItem('token', fetchUsuario.token)
                window.location.assign('clientes.html')
            } else {
                document.getElementById('message').innerHTML = 'Usuário ou senha incorreto'
            }
        }
    </script>
</body>

</html>